<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>10</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>10</integer>
		<key>maxNumber</key>
		<integer>3</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>color</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>20</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>20</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>20</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>20</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>20</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>20</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>20</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>20</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>bestTime</key>
		<integer>1</integer>
		<key>maxTime</key>
		<integer>20</integer>
		<key>maxNumber</key>
		<integer>1</integer>
		<key>matrixSize</key>
		<integer>3</integer>
		<key>type</key>
		<string>number</string>
		<key>puntos</key>
		<array>
			<dict>
				<key>fila</key>
				<string>2</string>
				<key>columna</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
