<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>5</string>
					<key>columna</key>
					<string>5</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>5</string>
					<key>columna</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>6</string>
					<key>columna</key>
					<string>6</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>5</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>5</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>5</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>5</string>
					<key>columna</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>4</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>5</string>
					<key>columna</key>
					<string>5</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>5</string>
					<key>columna</key>
					<string>4</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>5</string>
					<key>columna</key>
					<string>5</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>6</string>
				</dict>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>4</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>1</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>6</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>1</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>4</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>4</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>4</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>5</string>
					<key>columna</key>
					<string>5</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>5</string>
					<key>columna</key>
					<string>4</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>4</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>5</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>6</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>puntos</key>
			<array>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>3</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>3</string>
					<key>columna</key>
					<string>4</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>4</string>
					<key>columna</key>
					<string>4</string>
				</dict>
				<dict>
					<key>fila</key>
					<string>2</string>
					<key>columna</key>
					<string>2</string>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
